.front_page {
    background: url("../images/home1.jpg") no-repeat;
    background-size: 100%;
    display: block;
}

.title_head {
    font-size: 30px;
    color: rgb(252, 252, 252) !important;
    text-shadow: 3px 5px 4px rgba(48, 39, 39, 0.719);
    font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

bg_data {
    background-color: rgba(217, 218, 213, 0.486);
    border-radius: 30px;
}

.bg_title_data {
    background-color: rgba(230, 224, 142, 0.438) !important;
    padding: 5%;
    text-align: center !important;
    border-radius: 30px;
}

.box_shw {
    box-shadow: 5px 7px 17px rgba(23, 128, 105, 0.829) !important;
}

.shadow_s {
    box-shadow: 4px 9px 17px rgba(199, 190, 70, 0.616);
}

.box_1 {
    transition: .4s;
    box-shadow: 4px 12px 17px rgba(209, 54, 54, 0.616);
}

.box_2 {
    transition: .4s;
    box-shadow: 4px 12px 17px rgba(184, 169, 35, 0.616);
}

.box_3 {
    box-shadow: 4px 12px 17px rgba(33, 179, 130, 0.637);
}

.box_1:hover {
    transition: .4s;
    background-color: rgba(221, 49, 18, 0.89) !important;
}

.box_2:hover {
    transition: .4s;
    background-color: rgba(202, 145, 39, 0.89) !important;
}

.box_3:hover {
    transition: .4s;
    background-color: rgba(39, 163, 149, 0.89) !important;
}

.btn_1_i {
    box-shadow: 2px 3px 10px rgba(221, 49, 18, 0.89);
}

.btn_2_i {
    box-shadow: 2px 3px 10px rgba(202, 145, 39, 0.89);
}

.btn_3_i {
    box-shadow: 2px 3px 10px rgba(18, 145, 71, 0.89);
}

.spin_1_i:hover {
    transition: .7s;
    transform: rotate(360deg);
}

.scale_img {
    transition: .3s;
    transform: rotate(0deg);
}

.scale_img:hover {
    transition: .3s;
    transform: rotate(15deg);
}

.slide_img {
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.616);
    border-radius: 10px;
}

.testimonial {
    margin: 20px;
    height: 100%;
}


}